html, body, div, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

h4 {
    color: #00b5f7;
    margin-top: 16px;
    margin-bottom: 16px;
}

p {
    color: #999;
    font-size: 14px;
    text-indent: 2rem;
    margin: 0 8px 0 8px;
}

ul {
    list-style: none;
}
.wrapper {
    padding: 16px;
}

.table {
    overflow: hidden;
    margin: 0 auto;
}

.table li {
    font-size: 12px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.table li:nth-child(odd){
    width: 18%;
    color: #fff;
    background-color: #00b5f6;
}

.table li:nth-child(even){
    width: 32%;
    color: #666;
    background-color: #c4efff;
}

.base-info-container .table li:nth-child(14){
    width: 82%;
}

.telephone-container{
    display: flex;
    position: relative;
}

.telephone-container p{
    height: 21px;
    position: absolute;
    top: 20px;
    left: 45px;
}