@font-face {
  font-family: "iconfont";
  src: url('./iconfont.eot'); /* IE9*/
  src: url('./iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff') format('woff'), /* chrome, firefox */
  url('./iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-erweima:before { content: "\e601"; }

.icon-star:before { content: "\e641"; }

.icon-fenlei:before { content: "\e66f"; }

.icon-baketb:before { content: "\e69a"; }

.icon-back:before { content: "\e619"; }

.icon-dingwei:before { content: "\e63d"; }

.icon-iconfontlttb:before { content: "\e635"; }

.icon-left:before { content: "\e6a5"; }

.icon-iconfontdianhua:before { content: "\e66a"; }

.icon-icon-yxj-empty-store:before { content: "\e609"; }

.icon-qianbao:before { content: "\e68b"; }

.icon-star1:before { content: "\e605"; }

.icon-store1:before { content: "\e62d"; }

.icon-cangku:before { content: "\e614"; }

.icon-xiangji:before { content: "\e62e"; }

.icon-shengchanchangjia:before { content: "\e606"; }

.icon-tianjiazhaopian:before { content: "\e61e"; }

